# pixi environments
.pixi/*
!.pixi/config.toml

# Environment secrets
.env

# Raw datasets (trailing slash ignores the entire folder directory)
raw data/
data/

# Cache directories
.cache/
__pycache__/
.pixi/
